<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>GestionLibro</display-name>
    <servlet-name>GestionLibro</servlet-name>
    <servlet-class>controlador.GestionLibro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionLibro</servlet-name>
    <url-pattern>/GestionLibro</url-pattern>
  </servlet-mapping>
  <display-name>Symposium_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestionLibroBorrar</display-name>
    <servlet-name>GestionLibroBorrar</servlet-name>
    <servlet-class>controlador.GestionLibroBorrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionLibroBorrar</servlet-name>
    <url-pattern>/GestionLibroBorrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionLibroInsertar</display-name>
    <servlet-name>GestionLibroInsertar</servlet-name>
    <servlet-class>controlador.GestionLibroInsertar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionLibroInsertar</servlet-name>
    <url-pattern>/GestionLibroInsertar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionLibroBuscar</display-name>
    <servlet-name>GestionLibroBuscar</servlet-name>
    <servlet-class>controlador.GestionLibroBuscar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionLibroBuscar</servlet-name>
    <url-pattern>/GestionLibroBuscar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionLibroListar</display-name>
    <servlet-name>GestionLibroListar</servlet-name>
    <servlet-class>controlador.GestionLibroListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionLibroListar</servlet-name>
    <url-pattern>/GestionLibroListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionLibroEditar</display-name>
    <servlet-name>GestionLibroEditar</servlet-name>
    <servlet-class>controlador.GestionLibroEditar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionLibroEditar</servlet-name>
    <url-pattern>/GestionLibroEditar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionVerficarObra</display-name>
    <servlet-name>GestionVerficarObra</servlet-name>
    <servlet-class>controlador.GestionVerficarObra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionVerficarObra</servlet-name>
    <url-pattern>/GestionVerficarObra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionVerificarObra</display-name>
    <servlet-name>GestionVerificarObra</servlet-name>
    <servlet-class>controlador.GestionVerificarObra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionVerificarObra</servlet-name>
    <url-pattern>/GestionVerificarObra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionLibroModificar</display-name>
    <servlet-name>GestionLibroModificar</servlet-name>
    <servlet-class>controlador.GestionLibroModificar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionLibroModificar</servlet-name>
    <url-pattern>/GestionLibroModificar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionArticuloInsertar</display-name>
    <servlet-name>GestionArticuloInsertar</servlet-name>
    <servlet-class>controlador.GestionArticuloInsertar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionArticuloInsertar</servlet-name>
    <url-pattern>/GestionArticuloInsertar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionArticuloEditar</display-name>
    <servlet-name>GestionArticuloEditar</servlet-name>
    <servlet-class>controlador.GestionArticuloEditar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionArticuloEditar</servlet-name>
    <url-pattern>/GestionArticuloEditar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionArticuloModificar</display-name>
    <servlet-name>GestionArticuloModificar</servlet-name>
    <servlet-class>controlador.GestionArticuloModificar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionArticuloModificar</servlet-name>
    <url-pattern>/GestionArticuloModificar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionEstudianteInsertar</display-name>
    <servlet-name>GestionEstudianteInsertar</servlet-name>
    <servlet-class>controlador.GestionEstudianteInsertar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionEstudianteInsertar</servlet-name>
    <url-pattern>/GestionEstudianteInsertar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionUsuariosListar</display-name>
    <servlet-name>GestionUsuariosListar</servlet-name>
    <servlet-class>controlador.GestionUsuariosListar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUsuariosListar</servlet-name>
    <url-pattern>/GestionUsuariosListar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionUsuarioBorrar</display-name>
    <servlet-name>GestionUsuarioBorrar</servlet-name>
    <servlet-class>controlador.GestionUsuarioBorrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUsuarioBorrar</servlet-name>
    <url-pattern>/GestionUsuarioBorrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionUsuarioModificar</display-name>
    <servlet-name>GestionUsuarioModificar</servlet-name>
    <servlet-class>controlador.GestionUsuarioModificar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUsuarioModificar</servlet-name>
    <url-pattern>/GestionUsuarioModificar</url-pattern>
  </servlet-mapping>
</web-app>