*{
    padding:0%;
    margin:0%;
    background-color: #0f0f0f;
    font-family: "Baskerville Old Face";
    color: black;
}

.contenido{
    display: flex;
    flex-direction: column;
}

button{
    height: 40px;
    width: 80px;
    margin: 10px;
    background-color: rgb(60, 60, 196);
    color: aliceblue;
}

form > label > h1{
    width: 450px;
    font-size: 3vh;
    background-color: rgb(50, 161, 152); 
}

form > label > select{
    width: 300px;
    margin-bottom: 2vh;
    background-color: rgb(34, 53, 117); 
    color:antiquewhite;
    padding-left: 5px;
}

form > label > select > option{
    width: 300px;
    margin-bottom: 2vh;
    background-color: rgb(34, 53, 117); 
    color:antiquewhite;
    padding-left: 5px;
}

form{
    height:auto;
    width: 450px;
    background-color: rgb(50, 161, 152); 
    border: solid 5px rgb(60, 60, 196);
    position: relative;
    left: 25vw;
    top:5vh;
    padding-left: 5vw;
    padding-top: 50px;
}

form > label{
    width: 450px;
    background-color: rgb(50, 161, 152); 
}

form > label > input{
    width: 300px;
    margin-bottom: 2vh;
    background-color: rgb(34, 53, 117); 
    color:antiquewhite;
    padding-left: 5px;
}

form > strong{
    font-size: 5vh;
    width: 450px;
    background-color: rgb(50, 161, 152); 
}

.botones{
    width: 204px;
    position: relative;
    left: 35vw;
    top: 42px;
    border: solid 5px rgb(60, 60, 196);
    background-color: rgb(50, 161, 152)
    
}

.enlaces > a{
    position: relative;
    left: 35vw;
    top:10vh;
    color: whitesmoke;
    background-color: inherit;
}



