/*inicializamos los valores para evitar que el navegador web lo modifique y añado el color del fondo de la página*/
*{
    margin: 0%;
    padding: 0%;
    background-color: #0f0f0f;
    font-family: "Baskerville Old Face";
}
/*generamos el grid en el body para que nos divida toda la página*/
#body{
    display: grid;
    /*modificar lo siguiente modifica el tamaño de toda la página menos el navbar y las secciones, en principio*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
}
/*cambiamos los tamaños de los contenedores de cada parte: header, sections, navbar y footer*/
header{
    background-color: #005eff;
    display: flex;
    height: 10vh;
}
nav{
    display: flex;
    color: white;
}
#Most_want_publ{
    margin-top: 10vh;
    margin-left: 20vw;
    display:flex;
    background-color: #005eff;
    border: 2px solid rgb(129, 129, 151);
    height: 50vh;
    width: 70vw;
}
#Most_value_publ{
    margin-top:10vh;
    margin-left: 20vw;
    display:flex;
    background-color: #005eff;
    border: 2px solid rgb(129, 129, 151);
    height: 50vh;
    width: 70vw;
    margin-bottom: 10vh;
}
footer{
    display: flex;
    height: 10vh;
    background-color: grey;
    border-top: 1vh solid rgba(20, 20, 20, 0.719);
}
/*modificamos cada parte del navbar*/
nav ul{
    /*generamos un grid dentro del nav para la lista desordenada*/
    display: grid;
    /*dividimos en tantas filas como elementos li haya*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*nos aseguramos de que la división se ajuste al ancho de la página*/
    width: 100vw;
    list-style: none;
    color: black;
}
/*modificamos los elementos h2 dentro de los li de ul del navbar*/
nav h2{
    display: flex;
    padding-left: 2vw;
    font-size: 3vh;
    background-color: #E3DAC9;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
/*Le damos márgenes a la imagen de la web para que no quede pegada a los laterales 
(no lo hacemos con padding porque la desplazaría y el border-radius no funcionaría correctamente)*/
.webIcon{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    border-radius: 25%;
}
/*por último nos aseguramos de que el texto esté centrado dándole un padding relativo a la pantalla, 
le asignamos un tamaño al texto del mismo modo (vh)*/
.title{
    background-color: #005eff;
    color: white;
    font-size: 6vh;
    padding: 1vh 2vw;
}
/*asignamos los valores de los elementos que pertenecen a la barra de búsqueda*/
.buscador{
    /*le damos color blanco a la letra para que destaque frente al fondo*/
    color: white;
    background-color: rgb(16, 66, 160);
    /*le asignamos una altura y ancho relativo al tamaño de la página (vh y vw)*/
    width: 25vw;
    height: 3vh;
    padding-left: 1vh;
    margin-top: 4vh;
    margin-left: 10vw;
}
/*modificamos el icono (sé que no es buena idea hacerlo aquí, pero así la imagen se ajusta al tamaño de la página)*/
.seeker_icon{
    background-color: #005eff;
    height:3vh;
    width: 3vh;
    margin-top: 4vh;
    margin-left: 3px;
}
/*ajustamos la imagen del usuario*/
.user_icon_header{
    background-color: #005eff;
    border:1px solid #E3DAC9;
    border-radius: 50%;
    /*desplazamos la imagen un 25% relativo a la pantalla para que sea menos si se reduce ésta*/
   margin-left: 25vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
/*ajustamos el icono de ajustes*/
#settings_icon{
    background-color: #005eff;
    height: 3vh;
    width: 4vh;
    border-radius: 50%;
    margin-top: 1vh;
}


